
<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>AngularJS & Firebase Web App</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="blog.css" rel="stylesheet">
    
  </head>


<nav class="navbar navbar-inverse sidebar" role="navigation" style="height:100%;position:fixed">
    <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Brand</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
			<ul class="nav navbar-nav">
    <li class="active"><a ng-click="bikelist()" style="cursor: pointer;">Bikes</a></li>
				<li ><a class="" ng-click="addbikers()" style="cursor: pointer;">Bikers</a></li>


				<li ><a href="#">Assign Bikes<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>

        <li ng-click="logOut()"> <a href="#/"><span ng-hide="!username" ng-cloak>Logout</span> </a></li>

     <!--    <li ><a href="#" >Logout<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li> -->
<!-- 				<li ><a href="#"><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
				<li ><a href="#"><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li> -->

			</ul>
		</div>
	</div>
</nav>
<div class="main">
<!-- Content Here -->

    <div class="" ng-controller="BikeCtrl">
        <div class="" style="padding-bottom:0px;">
        <div class="col-xs-12">
            <div class="col-xs-4" style="font-size:28px">Bike List</div>
            <span class="pull-right" style=float:left> 
           <span> <button style="" type="submit" ng-click="addbike()" class="btn btn-lg btn-primary btn-block">Add Bike</button>
           </span>
            </div>
            <hr/>



        </div>
        <form class="form-signin" role="form">

        <div class="row">
        <div class="col-xs-1"><h5>Bike Make</h5></div>
        <div class="col-xs-1"><h5>Bike Code</h5></div>
       <div class="col-xs-1"><h6>Bike Type</h5></div>
       <div class="col-xs-1"><h6>Chassis Number</h6></div>
       <div class="col-xs-1"><h6>Battery Number</h6></div>
       <div class="col-xs-1"><h6>Battery Expiry</h6></div>
       <div class="col-xs-1"><h6>Bike Service</h6></div>
       <div class="col-xs-1"><h6>Bike Give Number</h6></div>
       <div class="col-xs-1"><h6>Ideal Km</div>
       <div class="col-xs-1"><h6>Actual Km</div>
       <div class="col-xs-1"><h6>Bike Price</div>                            
       <div class="col-xs-1"><h6>Bike Shift</div>

<br/><br/><br/><br/>

        <div class="" ng-repeat="article in articles">
        <a href="" class="">
        <div class="col-xs-1">{{article.bikemake}}</div>
        <div class="col-xs-1">{{article.bikecode}}</div>
        <div class="col-xs-1">{{article.biketype}}</div>
        <div class="col-xs-1">{{article.chassisnumber}}</div>
        <div class="col-xs-1">{{article.batterynumber}}</div>
       <!--  <div class="col-xs-1">{{article.batteryexpiry}}</div> -->
        <div class="col-xs-1">{{article.bikeservice}}</div>
        <div class="col-xs-1">{{article.bikegivenumber}}</div>
        <div class="col-xs-1">{{article.idealconditioncoveredkm}}</div>
        <div class="col-xs-1">{{article.actualcoverdkm}}</div>
        <div class="col-xs-1">{{article.bikeprice}}</div>
        <div class="col-xs-1">{{article.bikeshift}}</div>
   <!--     <div class="col-xs-1"> <button class="btn btn-xs btn-info" ng-click="editPost(article.$id)">EDIT</button></div> -->
       
   </a>
   <div class="col-xs-1"><button type="submit" class="btn btn-xs btn-info" ng-click="editPost1(article.$id)" >EDIT</button></div>
</div>
        </div>
       
      </form>




<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="editModalLabel">Update Post</h4>
      </div>
      <div class="modal-body">
        <form role="form">
        <div class="col-xs-3">
           <input type="text" class="form-control textboxmargin" data-ng-model="postToUpdate.gpsid" placeholder="Gps Id" required="" autofocus="">
        </div>

        <div class="col-xs-3">
           <input type="text" class="form-control textboxmargin" data-ng-model="postToUpdate.bikename" placeholder="Bike Name" required="" autofocus="">
        </div>
            
        <div class="col-xs-3">
           <input type="text" class="form-control textboxmargin" data-ng-model="postToUpdate.bikemake" placeholder="Bike Make" required="" autofocus="">
        </div>
            
            <div class="col-xs-3">
            <input type="text" class="form-control textboxmargin" data-ng-model="postToUpdate.bikecode" placeholder="Bike Code Number" required="" autofocus="">
            </div>

            <div class="col-xs-3">
            <input type="text" class="form-control textboxmargin" data-ng-model="postToUpdate.biketype" placeholder=" Bike Type" required="" autofocus="">
            </div>
            <div class="col-xs-3">
            <input type="text" class="form-control textboxmargin" data-ng-model="postToUpdate.chassisnumber" placeholder="Chassis Number" required="" autofocus="">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="update()">Publish</button>
      </div>
    </div>
  </div>
</div>




 
    </div>
</div>


</html>


