
<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>AngularJS & Firebase Web App</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="blog.css" rel="stylesheet">
    
  </head>

<div ng-controller="bikerCtrl">

<nav class="navbar navbar-inverse sidebar" role="navigation" style="height:100%;position:fixed">
    <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Brand</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
			<ul class="nav navbar-nav">
        <li class="active"><a ng-click="bikelist()" style="cursor: pointer;">Bikes</a></li>
				<li ><a class="" ng-click="bikerslist()" style="cursor: pointer;">Bikers</a></li>

				<li ><a class="" ng-click="assignbike()" style="cursor: pointer;">Assign Bikes</a></li>

        <li ng-click="logOut()"> <a href="#/"><span ng-hide="!username" ng-cloak>Logout</span> </a></li>

     <!--    <li ><a href="#" >Logout<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li> -->
<!-- 				<li ><a href="#"><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
				<li ><a href="#"><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li> -->

			</ul>
		</div>
	</div>
</nav>
<div class="main">
<!-- Content Here -->

    <div class="">
        <div class="" style="padding-bottom:0px;">
        <div class="col-xs-12">
            <div class="col-xs-4" style="font-size:28px">Bike Assigned</div>
            <p class="col-xs-12" style="margin-top:10px; border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));"></p>


            </div>
            <hr/>



        </div>




<table class="table table-striped table-condensed dt-head-center">
  <thead>
    <tr>
    <td><h5><b>Emp code</b></h5></td>
    <td><h5><b>EmpName</b></h5></td>
    <td><h5><b>Bike Assigned</b></h5></td>
    <td><h5><b>From Date</b></h5></td>
    <td><h5><b>To Date</b></h5></td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="biker in assignedbikelist">
       <a href="" class="">
        <td>{{biker.Employeecode}}</td>
        <td>{{biker.firstname}}</td>
        <td>{{biker.bikeassigned}}</td>
        <td>{{biker.fromdate}}</td>
        <td>{{biker.todate}}</td>
        </a>
        <td><button type="submit" class="btn btn-xs btn-info" ng-click="assign(biker.$id)" ><span class="glyphicon glyphicon-edit"></span></button></td>
        </tr>
        </tbody>
        </table>




        <form class="form-signin" role="form">
<!-- 
        <div class="row">
        <div class="col-xs-2"><h5>EmpCode</h5></div>
        <div class="col-xs-2"><h5>EmpName</h5></div>
        <div class="col-xs-2"><h5>Bike Assigned</h5></div>
        <div class="col-xs-2"><h5>From Date</h5></div>
        <div class="col-xs-2"><h5>To Date</h5></div>


                       
<br/><br/><br/><br/> -->
<!-- 
        <div class="row" ng-repeat="biker in assignedbikelist">
        <a href="" class="">
        <div class="col-xs-2">{{biker.Employeecode}}</div>
        <div class="col-xs-2">{{biker.firstname}} &nbsp;&nbsp;{{biker.lastname}}</div>
        <div class="col-xs-2">{{biker.bikeassigned}}</div>
        <div class="col-xs-2">{{biker.fromdate}}</div>
        <div class="col-xs-2">{{biker.todate}}</div>
       
   </a>
   <div class="col-xs-1"><button type="submit" class="btn btn-xs btn-info" ng-click="assign(biker.$id)" >Change</button></div>
  </div> -->




<!-- <div>
        <select ng-model="selected" ng-options="b.Employeecode for b in bikerlist">
            <option value="">-- Select a Book --</option>
        </select>

        <p>Selected Book: <b>{{ selected }}</b></p>

</div> -->







<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:750px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="editModalLabel">Assign Bike</h4>
      </div>
      <div class="modal-body" style="height:100px">
        <form role="form">
          <div class="col-xs-4">
                  <select class="form-control textboxmargin" ng-model="selected" ng-options="b.bikecode for b in allbikes">
                      <option value="">-- Select a Bike --</option>
                  </select>
                  </div>

        <div class="col-xs-4">
                  <input placeholder="From Date" class="form-control textboxmargin" type="text" data-ng-model="bikebiker.fromdate" onfocus="(this.type='date')"  id="date">
        </div>
        <div class="col-xs-4">
                  <input placeholder="Todate" class="form-control textboxmargin" type="text" data-ng-model="bikebiker.todate" onfocus="(this.type='date')"  id="date1">
        </div>




              <!-- <p data-ng-model ="selected.bikename " class="" >Selected Bike: {{selected.bikename}}</p> -->
              <p data-ng-model ="selected.bikename " class="" ></p>

<!--                     <input type="date" class="form-control textboxmargin" data-ng-model="Biker_Information.dob" placeholder="Date of Birth" required="" autofocus=""> -->

<!-- <input placeholder="Date" class="textbox-n" type="text" onfocus="(this.type='date')"  id="date"> -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="updatebikeAssigned()">Assign</button>
      </div>
    </div>
  </div>
</div>






        </div>
       
      </form>
 
    </div>
</div>
</div>

</html>


