<nav class="navbar navbar-inverse sidebar" role="navigation" style="height:100%;position:fixed">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="" href="#"><img src="img/doticon.png"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
    <li class=""><a ng-click="bikelist()" style="cursor: pointer;color:#ffffff">Bikes
<span style="font-size:16px;margin-right:-12px" class="pull-right hidden-xs showopacity fa fa-motorcycle"></span>
    </a></li>
    <li ><a class="" ng-click="bikerslist()" style="cursor: pointer;color:#ffffff">Bikers
<span style="font-size:16px;margin-right:-12px" class="pull-right hidden-xs showopacity fa fa-user"></span>

    </a></li>
    <li ><a class="" ng-click="assignbike()" style="cursor: pointer;color:#ffffff">Assign Bikes

<span style="font-size:16px;margin-right:-12px" class="pull-right hidden-xs showopacity "><img src="img/bike1.png" width="22" height="20"></span>

    </a></li>

    <li ng-click="logOut()"> <a style="cursor: pointer;color:#ffffff" href="#/">Logout<span class="fa fa-sign-out pull-right"  style="color:#ffffff;margin-right:-12px" ng-hide="!username" ng-cloak></span> </a></li>

            </ul>
        </div>
    </div>
</nav>
<div class="main">
<!-- Content Here -->

    <div class="" ng-controller="bikerCtrl">
        <div class="" style="padding-bottom:0px;">
           <h2>Edit Biker Information</h2>
            <p class="col-xs-12" style="margin-top:10px; border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));"></p>
        </div>
        <form class="form-signin" role="form" ng-submit="submitForm(userForm.$valid)">

        <div class="row">
        <div class="col-xs-3">
           <input type="text" class="form-control textboxmargin" data-ng-model="bikerToUpdate.firstName" placeholder="Firstname" required="" autofocus=""> 
        </div>
            
            <div class="col-xs-3">
            <input type="text" class="form-control textboxmargin" data-ng-model="bikerToUpdate.middleName" placeholder="MiddleName" required="" autofocus="">
            </div>

            <div class="col-xs-3">
            <input type="text" class="form-control textboxmargin" data-ng-model="bikerToUpdate.lastName" placeholder="Lastname" required="" autofocus="">
            </div>
            <div class="col-xs-3">
            <input type="text" class="form-control textboxmargin" data-ng-model="bikerToUpdate.fatherName" placeholder="Father'sname" required="" autofocus="">
            </div>
            <div class="col-xs-3">
            <input type="text" class="form-control textboxmargin" data-ng-model="bikerToUpdate.mobileNo" placeholder="Mobile Number" required="" autofocus="">
            </div>

            <div class="col-xs-3">
            <input type="text" class="form-control textboxmargin" data-ng-model="bikerToUpdate.employeeCode" placeholder="Employee Code" required="" autofocus="">
            </div>  

            <div class="col-xs-3">
            <input type="Email" class="form-control textboxmargin" data-ng-model="bikerToUpdate.email" placeholder="Email" ng-readonly="true">
            </div>
            <div class="col-xs-3">

        <input placeholder="Date of Birth" class="form-control textboxmargin" type="text" data-ng-model="bikerToUpdate.dob" onfocus="(this.type='date')"  id="date">

          <!--   <input type="date" class="form-control textboxmargin" data-ng-model="bikerToUpdate.dob" placeholder="Date of Birth" required="" autofocus=""> -->

            </div>
            <div class="col-xs-3">
            <input type="text" class="form-control textboxmargin" data-ng-model="bikerToUpdate.homeAddress" placeholder="Home Address"  autofocus="">
            </div>
            <div class="col-xs-3">
            <input type="text" class="form-control textboxmargin" data-ng-model="bikerToUpdate.tempAddress" placeholder="Temporary Address"  autofocus="">
            </div>  

            <div class="col-xs-3">
            <input type="text" class="form-control textboxmargin" data-ng-model="bikerToUpdate.bloodGroup" placeholder="Blood Group"  autofocus="">
            </div>
<!--             <div class="col-xs-3">
            <input type="text" class="form-control textboxmargin" data-ng-model="bikerToUpdate.bikeAssigned" placeholder="Bike Assigned"  autofocus="">
            </div> -->
            <div class="col-xs-3">
            <input type="text" class="form-control textboxmargin" data-ng-model="bikerToUpdate.qualification" placeholder="Qualification"  autofocus="">
            </div>
            <div class="col-xs-3">
            <input type="text" class="form-control textboxmargin" data-ng-model="bikerToUpdate.operatingArea" placeholder="Operating Area"  autofocus="">
            </div> 
            <div class="col-xs-3">
            <input type="text" class="form-control textboxmargin" data-ng-model="bikerToUpdate.interests" placeholder="Interests"  autofocus="">
            </div>  
            <div class="col-xs-3">
            <input type="text" class="form-control textboxmargin" data-ng-model="bikerToUpdate.children" placeholder="Children"  autofocus="">
            </div>  
            <div class="col-xs-3">
            <input type="text" class="form-control textboxmargin" data-ng-model="bikerToUpdate.religion" placeholder="Religion"  autofocus="">
            </div>  
            <div class="col-xs-3">
            <input type="text" class="form-control textboxmargin" data-ng-model="bikerToUpdate.rating" placeholder="Ratings"  autofocus="">
            </div>                                                                         
            <div class="col-xs-3">
            <input type="text" class="form-control textboxmargin" data-ng-model="bikerToUpdate.training" placeholder="Training"  autofocus="">
            </div>
            <div class="col-xs-3">
            <input type="text" class="form-control textboxmargin" data-ng-model="bikerToUpdate.completed" placeholder="Completed"  autofocus="">
            </div>
            <div class="col-xs-3">
            <input type="text" class="form-control textboxmargin" data-ng-model="bikerToUpdate.comments" placeholder="Comments"  autofocus="">
            </div>                                              
            <div class="col-xs-3">
            <input type="text" class="form-control textboxmargin" data-ng-model="bikerToUpdate.shift" placeholder="Shift" required="" autofocus="">
            </div>
            <div class="col-xs-3">
            <input type="text" class="form-control textboxmargin" data-ng-model="bikerToUpdate.reference1" placeholder="Reference 1"  autofocus="">
            </div>
            <div class="col-xs-3">
            <input type="text" class="form-control textboxmargin" data-ng-model="bikerToUpdate.reference2" placeholder="Reference 2"  autofocus="">
            </div>  


        <div class="col-xs-4" style="font-size:20px;font-weight:bold"><h4>Marital Status <h4>
        <hr/>
        <div class="col-xs-6">
            <label>
        <input type="radio" name="marritalstatus" value="Married" ng-model="bikerToUpdate.maritalStatus">
       <span style="font-size:14px;font-weight:bold">Married</span>
            </label>
        </div>
        <div class="col-xs-6">
            <label>
    <input type="radio" name="marritalstatus" value="Unmarried" ng-model="bikerToUpdate.maritalStatus">
        <span style="font-size:14px;font-weight:bold">Unmarried</span>
            </label>
        </div>
        </div>


        <div class="col-xs-4" style="font-size:20px;font-weight:bold"><h4>Employee Type <h4>
        <hr/>
        <div class="col-xs-6">
            <label>
        <input type="radio" name="employeetype" value="Permanent" ng-model="bikerToUpdate.employeeType">
       <span style="font-size:14px;font-weight:bold">Permanent</span>
            </label>
        </div>
        <div class="col-xs-6">
            <label>
<input type="radio" name="employeetype" value="On Commission" ng-model="bikerToUpdate.employeeType">
        <span style="font-size:14px;font-weight:bold">On Commission</span>
        </label>
        </div>
        </div>

        <div class="col-xs-4" style="font-size:20px;font-weight:bold"><h4>Gender <h4>
        <hr/>
        <div class="col-xs-6">
            <label>
        <input type="radio" name="gender" value="M" ng-model="bikerToUpdate.gender">
       <span style="font-size:14px;font-weight:bold">M</span>
            </label>
        </div>
        <div class="col-xs-6">
        <label>
        <input type="radio" name="gender" value="F" ng-model="bikerToUpdate.gender">
        <span style="font-size:14px;font-weight:bold">F</span>
        </label>
        </div>
        </div>


            <div class="col-xs-12"><h3>Relatives Information <h3><hr/></div>

            <div class="col-xs-4">
            <input type="text" class="form-control textboxmargin" data-ng-model="bikerToUpdate.relativeName" placeholder="Name"  autofocus="">
            </div>
            <div class="col-xs-4">
            <input type="text" class="form-control textboxmargin" data-ng-model="bikerToUpdate.relativeAddress" placeholder="Address"  autofocus="">
            </div>
            <div class="col-xs-4">
            <input type="text" class="form-control textboxmargin" data-ng-model="bikerToUpdate.relativeMobile" placeholder="Mobile Number"  autofocus="">
            </div>
                           
            <div class="col-xs-12"> <button style="width:10%" type="submit" ng-click="update()" class="btn btn-sm btn-success">Update</button></div>
        </div>
       
      </form>
 
    </div>
</div>